body {
  background-color: #45454f;
  color: white;
  font-family: Lato, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  text-align: center;
}

.tabs {
  position: absolute;
  display: flex;
  top: 30px;
  right: 200px;
  gap: 10px;
}

.tab-button {
  color: rgb(120, 120, 120);
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  z-index: 10;
}

.tab-button:hover {
  color: rgb(180, 180, 180);
}

.tab-button.active {
  color: rgb(220, 220, 220);
  text-decoration-line: underline;
  text-decoration-color: rgb(220, 220, 220);
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.tab-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tab-content.active {
  opacity: 1;
}

.section-main-box {
  padding: 120px 200px;
}

.section-header {
  text-align: left;
  margin-bottom: 40px;
}

.section-body {
  text-align: left;
}

.text-clickable {
  font-family: Lato, sans-serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: rgb(140, 140, 140);
  font-size: 16px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.text-clickable:hover {
  color: rgb(240, 240, 240);
}

.project {
  border-radius: 18px 18px 14px 14px;
}

.project-large {
  width: 100%;
  height: 540px;
}

.project-medium {
  width: 100%;
  height: 270px;
}

.project-small {
  width: 50%;
  height: 270px;
}

.card-header {
  color: #ffffff;
  border-radius: 14px 14px 0 0;
  padding: 4px;
}

.card-header h2 {
  padding: 8px;
}

.card-body {
  padding-bottom: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0 60px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3a3a3a;
  color: rgb(200, 200, 200);
  box-sizing: border-box;
}

.footer-left {
  white-space: nowrap;
}

.footer-right {
  display: flex;
  gap: 10px;
  white-space: nowrap;
  overflow: hidden;
}

.footer-tab {
  flex-shrink: 0;
  color: rgb(140, 140, 140);
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.1s;
}

.footer-tab:hover {
  flex-shrink: 0;
  color: rgb(240, 240, 240);
}